@using System.Windows.Input
@using System
@using System.Text
@using System.Security.Cryptography
@using FluentValidation

@inject IDialogService Dialog

<MudDialog>
    <DialogContent>
        <MudContainer Class="d-flex flex-column">
            <div Style="max-height: 600px; overflow-y: scroll">
                <MudTextField T="string"
                              Label="Assignment Name"
                              Class="ma-4"
                              @bind-Value="assignmentName">
                </MudTextField>
                <MudTextField T="int"
                              Label="Number of Attempts"
                              Class="ma-4"
                              @bind-Value="attemptCount">
                </MudTextField>
                <MudTextField T="string"
                              InputType="InputType.Password"
                              Label="Password"
                              Class="ma-4"
                              @bind-Value="assignmentPassword">
                </MudTextField>
                <MudButton StartIcon="@Icons.Material.Filled.Add"
                           OnClick="NewSection"
                           Variant="Variant.Text"
                           Class="ma-4"
                           Style="width: 100%">
                    Add Section
                </MudButton>
                
                @foreach (SectionModel section in sections)
                {
                    <MudContainer>
                        <MudPaper Elevation="8" Class="pa-4 my-4">
                            <MudForm>
                                <MudTextField T="string"
                                                Label="Section name"
                                                Required="true"
                                                RequiredError="Section name is required!"
                                                Adornment="Adornment.End"
                                                AdornmentIcon="@Icons.Filled.DeleteForever"
                                                OnAdornmentClick="() => DeleteSection(section)"
                                                Style="width: 100%"
                                                @bind-Value="section.SectionName">

                                </MudTextField>
                                <MudTextField T="int"
                                                Label="Maximum mark"
                                                Required="true"
                                                RequiredError="Maximum mark is required!"
                                                HelperText="Must be a number"
                                                Validation="greaterThanZeroValidator.Validation"
                                                @bind-Value="section.MaximumMark">

                                </MudTextField>
                            </MudForm>
                            <MudButton StartIcon="@Icons.Material.Filled.Add"
                                        OnClick="() => NewPoint(section)"
                                        Variant="Variant.Text"
                                        Class="ma-4"
                                        Style="width: 100%">
                                Add Point
                            </MudButton>
                            <MudTable Items="@section.Points"
                                        Hover="true"
                                        Breakpoint="Breakpoint.Sm"
                                        CommitEditCommand="editCommand"
                                        CommitEditTooltip="Save Point"
                                        Class="ma-4">
                                <HeaderContent>
                                    <MudTh>Type</MudTh>
                                    <MudTh>Label</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Type">
                                        @context.Type
                                    </MudTd>
                                    <MudTd DataLabel="Label">
                                        @context.Tag
                                    </MudTd>
                                    <MudTd>
                                        <MudTooltip Text="Edit Point">
                                            <MudIconButton Icon="@Icons.Material.Outlined.Edit"
                                                            Size="Size.Small"
                                                            OnClick="() => EditPoint(context, section)">
                                            </MudIconButton>
                                        </MudTooltip>
                                    </MudTd>
                                </RowTemplate>
                                <RowEditingTemplate>
                                    <MudTd DataLabel="Type">
                                        <MudSelect T="PointType"
                                                    ToStringFunc="converter"
                                                    @bind-Value="context.Type">
                                            <MudSelectItem Value="PointType.Slider"></MudSelectItem>
                                            <MudSelectItem Value="PointType.Switch"></MudSelectItem>
                                            <MudSelectItem Value="PointType.Select"></MudSelectItem>
                                        </MudSelect>
                                    </MudTd>
                                    <MudTd DataLabel="Label">
                                        <MudTextField @bind-Value="context.Tag"></MudTextField>
                                    </MudTd>
                                    <MudTd>
                                        <MudTooltip Text="Edit Point">
                                            <MudIconButton Icon="@Icons.Material.Outlined.Edit"
                                                            Size="Size.Small"
                                                            OnClick="() => EditPoint(context, section)">
                                            </MudIconButton>
                                        </MudTooltip>
                                        <MudTooltip Text="Delete Point">
                                            <MudIconButton Icon="@Icons.Material.Outlined.Delete"
                                                            Size="Size.Small"
                                                            OnClick="() => section.Points.Remove(context)">
                                            </MudIconButton>
                                        </MudTooltip>
                                    </MudTd>
                                </RowEditingTemplate>
                            </MudTable>
                        </MudPaper>
                    </MudContainer>
                }
            </div>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Success"
                   OnClick="Submit">
            Create Assignment
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private List<SectionModel> sections = new List<SectionModel>();

    private ICommand editCommand;

    private FluentValueValidator<int> greaterThanZeroValidator = new FluentValueValidator<int>(x => x.GreaterThan(0).WithMessage("Must be greater than zero!"));

    private string assignmentName;

    private string assignmentPassword;

    private int attemptCount;

    /// <summary>
    /// Converter for the PointType enum.
    /// </summary>
    private Func<PointType, string> converter = type => type.ToString();

    /// <summary>
    /// Creates a new assignment model from the available data and returns it.
    /// </summary>
    private void Submit()
    {
        AssignmentModel assignmentModel = new AssignmentModel(attemptCount, sections)
        {
            AssignmentName = assignmentName
        };
        assignmentModel.SetPassword(assignmentPassword);

        MudDialog.Close(DialogResult.Ok(assignmentModel));
    }

    /// <summary>
    /// Cancels the dialog being submitted.
    /// </summary>
    private void Cancel()
    {
        MudDialog.Cancel();
    }

    /// <summary>
    /// Sets up the editCommand for the tables when the component is intialized.
    /// </summary>
    protected override void OnInitialized()
    {
        editCommand = new EditCommand(OnEditPoint);
    }

    private void OnEditPoint(object parameter)
    {

    }

    /// <summary>
    /// Creates a new point in a <paramref name="section"/>.
    /// </summary>
    /// <param name="section">The section to add the point to.</param>
    private void NewPoint(SectionModel section)
    {
        section.Points.Add(new PointModel());
    }

    /// <summary>
    /// Edits a point in a specific <paramref name="sectionModel"/>.
    /// </summary>
    /// <param name="pointModel">The point to be edited.</param>
    /// <param name="sectionModel">The section the point to be edited is in.</param>
    /// <returns></returns>
    private async Task EditPoint(PointModel pointModel, SectionModel sectionModel)
    {
        if (pointModel.Type != PointType.Default)
        {
            sectionModel.Points.Remove(pointModel);

            pointModel = UpdatePoint(pointModel);

            DialogParameters parameters = new DialogParameters()
            {
                ["PointModel"] = pointModel
            };
            DialogOptions options = new DialogOptions()
            {
                CloseButton = true
            };

            IDialogReference dialog = Dialog.Show<CreateNewPointDialog>("Create New Point", parameters, options);
            DialogResult result = await dialog.Result;


            if (!result.Cancelled)
            {
                sectionModel.Points.Add((PointModel)result.Data);
            }
            else
            {
                sectionModel.Points.Add(pointModel);
            }
        }
    }

    /// <summary>
    /// Updates a specific <paramref name="pointModel"/>.
    /// </summary>
    /// <param name="pointModel">The point to be updated.</param>
    /// <returns></returns>
    private PointModel UpdatePoint(PointModel pointModel)
    {
        if (pointModel.Type == PointType.Slider && !(pointModel is SliderPointModel))
        {
            string label = pointModel.Tag;
            pointModel = new SliderPointModel();
            pointModel.Tag = label;
        }
        else if (pointModel.Type == PointType.Switch && !(pointModel is SwitchPointModel))
        {
            string label = pointModel.Tag;
            pointModel = new SwitchPointModel();
            pointModel.Tag = label;
        }
        else if(pointModel.Type == PointType.Select && !(pointModel is SelectPointModel))
        {
            string label = pointModel.Tag;
            pointModel = new SelectPointModel();
            pointModel.Tag = label;
        }

        return pointModel;
    }

    /// <summary>
    /// Deletes an entire <paramref name="sectionModel"/>.
    /// </summary>
    /// <param name="sectionModel">The section to be deleted.</param>
    private void DeleteSection(SectionModel sectionModel)
    {
        sections.Remove(sectionModel);
    }

    /// <summary>
    /// Creates a new section.
    /// </summary>
    private void NewSection()
    {
        SectionModel newSection = new SectionModel();
        sections.Add(newSection);
        StateHasChanged();
    }

    public class EditCommand : ICommand
    {
        public EditCommand(Action<object> execute)
        {
            Action = execute;
        }

        public Action<object> Action { get; } = null;

        public void Execute(object parameter)
        {
            Action?.Invoke(parameter);
        }

        public bool CanExecute(object parameter)
        {
            return true;
        }

        public event EventHandler CanExecuteChanged;
    }

    public class FluentValueValidator<T> : AbstractValidator<T>
    {
        public FluentValueValidator(Action<IRuleBuilderInitial<T, T>> rule)
        {
            rule(RuleFor(x => x));
        }

        private IEnumerable<string> ValidateValue(T arg)
        {
            FluentValidation.Results.ValidationResult result = Validate(arg);
            if (result.IsValid)
            {
                return new string[0];
            }
            return result.Errors.Select(e => e.ErrorMessage);
        }

        public Func<T, IEnumerable<string>> Validation => ValidateValue;
    }
}
